<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fridge">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Scanning"
            android:label="@string/scan_your_ingredients"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".IngredientList"
            android:label="@string/ingredient_list"
            android:parentActivityName=".Scanning"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.fridge.RecipeDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".RecipeListActivity"
            android:theme="@style/AppTheme" />
        <service
            android:name="com.example.fridge.RecipeRequestService"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name="com.example.fridge.RecipeListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".RecipeDetailActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>